<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- 부가적인 테마 -->

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <title>Document</title>
</head>

<body>
    <h1>Django 풀잎</h1>
    <h2>장고란?</h2>
    <p> 제가 생각하는 장고는 간단하게 표현하면 자바스크립트에 대해 몰라도
        html인 마크업 언어로 데이터의 표현등을 파이썬만으로도 표현가능 한다고 보시면 됩니다.
        <br>
        자바스크립트(이후 자스)에서 반복문이나 조건문을 통해 무엇을 보여줄 지 이런 것을 다 할 수 있는데 그것을 파이썬으로 구현한다고 보시면 될 거 같습니다.
        <br>
        물론 자스에 있는 모든 기능을 다 할 수 없으니 프론트엔드 개발자들은 Vue.js 나 React.js 같이 그런 것으로 보여주고 장고로는 db와 연걸하여 데이터를 전송하는 것으로 보면 될 거 같아요.
        이후에는 블로그 형식으로 설명하겠습니다
    </p>
    <a href="/blog/" class="btn btn-outline-primary"> BLOG</a>


</body>

</html>