{% extends 'first_project/base.html' %}
{% block left_nav %}
<div class="d-md-none d-lg-block col-3">
    <div class="position-sticky" style="top: 2rem;">
        <div class="card my-4">
            <h5 class="card-header">글 목록</h5>
            {% for p in post_list %}
            <div class="p-5">
                <a href="#{{p.pk}}">{{p.title}}</a>
            </div>
            {{p.categories}}
            {% endfor %}
        </div>
        <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            {% for i in categories %}
            <div class="p-5">
               <a href="{{i.get_url}}">
                   {{i}}({{i.post_set.count}})
               </a> 
            </div>
            {% endfor %}
            <div class="p-5">
                <a href="/blog/category/no_category/">
                    미분류({{no_category_count}})
                </a> 
            </div>
        </div>
        <!-- {{categories}} -->
    
    </div>
</div>

{% endblock %}

{% block contend %}
<div class="col-md">
    {% for p in post_list %}
    <div class="p-5">
        <h2 class="blog-post-title" id="{{p.pk}}">
            <a href="#!post_{{p.pk}}" onclick="fetchPage('{{p.get_url}}')">

                {{p.title}}
            </a>
            <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">
                {% if p.category %}
                {{p.category|upper}}
                {%else%}
                No category
                {%endif%}
            </strong>
            <h3 class="mb-0">
                {{p.title}}
            </h3>
            <div class="mb-1 text-muted">by {{p.author}}</div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#!post_{{p.pk}}" onclick="fetchPage('{{p.get_url}}')" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img"  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
          </div>
        </div>
      </div>
        </h2>
        <!-- {{p.title}} -->
        {% if p.img %}
        <img class="card-img-top" src="{{p.img.url}}">
        {% else %}
        <img class="card-img-top" src="https://picsum.photos/id/{{p.pk}}/800/400">

        {% endif %}

        <span class="detail" id="pk_{{p.pk}}"> </span>

    </div>
    {% endfor %}
    <nav class="pager text-center">


        {% if page_obj.has_previous %}
        <a class="btn btn-outline-primary" href="?page=1">first</a>
        <a class="btn btn-outline-primary" href="?page={{page_obj.previous_page_number}}">
            < </a>
                {% else %}
                <a class="btn btn-outline-secondary">first</a>
                <a class="btn btn-outline-secondary"> < </a>

                        {%endif%}<span>{{page_obj}}</span>
                        {% if page_obj.has_next %}
                        <a class="btn btn-outline-primary" href="?page={{page_obj.next_page_number}}">></a>
                        <a class="btn btn-outline-primary" href="?page={{page_obj.paginator.num_pages}}">Last</a>
                        {% else %}
                        <a class="btn btn-outline-secondary">></a>
                        <a class="btn btn-outline-secondary">Last</a>

                        {% endif %}
    </nav>
</div>

{% endblock %}